<?xml version="1.0"?>
<robot name="rover">

  <!-- CHASSIS -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.3 0.1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.5 0.3 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.2" iyy="0.2" izz="0.2"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- WHEELS -->

  <!-- Front Left -->
  <link name="wheel_fl">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1.0"/>
      </material>
    </visual>

    <collision>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.2</mu2>   <!-- KEY: low sideways friction -->
          </ode>
        </friction>
      </surface>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" iyy="0.001" izz="0.001"
              ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="wheel_fl_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_fl"/>
    <origin xyz="0.2 0.15 -0.05"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- Front Right -->
  <link name="wheel_fr">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>

      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.2</mu2>   <!-- KEY: low sideways friction -->
          </ode>
        </friction>
      </surface>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" iyy="0.001" izz="0.001"
              ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="wheel_fr_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_fr"/>
    <origin xyz="0.2 -0.15 -0.05"/>
    <axis xyz="0 -1 0"/>
  </joint>

  <!-- Rear Left -->
  <link name="wheel_rl">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>

      <!-- add friction! -->
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.2</mu2>   <!-- low sideways friction -->
          </ode>
        </friction>
      </surface>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" iyy="0.001" izz="0.001"
              ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="wheel_rl_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_rl"/>
    <origin xyz="-0.2 0.15 -0.05"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- Rear Right -->
  <link name="wheel_rr">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>

      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.2</mu2>   <!-- low sideways friction for skid steer? -->
          </ode>
        </friction>
      </surface>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" iyy="0.001" izz="0.001"
              ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="wheel_rr_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_rr"/>
    <origin xyz="-0.2 -0.15 -0.05"/>
    <axis xyz="0 -1 0"/>
  </joint>


  <!--have to change diff plugin for gazebo fortress-->
  <gazebo>
    <plugin
      filename="libignition-gazebo-diff-drive-system.so"
      name="ignition::gazebo::systems::DiffDrive">

      <!-- LEFT SIDE -->
      <left_joint>wheel_fl_joint</left_joint>
      <left_joint>wheel_rl_joint</left_joint>

      <!-- RIGHT SIDE -->
      <right_joint>wheel_fr_joint</right_joint>
      <right_joint>wheel_rr_joint</right_joint>

      <!-- KINEMATICS -->
      <wheel_separation>0.3</wheel_separation>
      <wheel_radius>0.05</wheel_radius>

      <!-- TOPICS (Ignition transport) -->
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>

      <!-- FRAMES -->
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>

      <!-- UPDATE -->
      <update_rate>50</update_rate>

    </plugin>
  </gazebo>


<!-- LiDAR Plugin -->
  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 0.8 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1e-4" iyy="1e-4" izz="1e-4"
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <!-- mounted above chassis for now -->
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo Fortress LiDAR -->
  <gazebo reference="lidar_link">
    <sensor name="lidar_sensor" type="gpu_lidar">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>10</update_rate>

      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>

        <range>
          <min>0.1</min>
          <max>10.0</max>   <!-- change accordingly ith it's in meters lol -->
          <resolution>0.01</resolution>
        </range>

        <!-- change later to reflect realistic operational noise -->
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>

      <always_on>true</always_on>
      <visualize>true</visualize>

      <!-- ignition topic -->
      <topic>/lidar</topic>
    </sensor>
  </gazebo>

</robot>