<?xml version="1.0"?>
<model>
  <name>rover</name>
  <version>1.0</version>
  <!-- The <sdf> tag must point to your main simulation file -->
  <sdf version="1.9">rover_model.sdf</sdf>

  <author>
    <name>Pearl Uva</name>
    <email>pearluva@terpmail.umd.edu</email>
  </author>

  <description>
    A simplified model of the chassis and wheel assembly for the purpose of ros simulation
  </description>
</model>
